:root {
  --primary-color: #fafafa;
  --secondary-color: #ffe9e3;
  --text-color: #c4c1e0;
  --dark-text-color: #7c73e6;
  --darkest:#4a448b;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}
.ImgIcon{
    height: 32px;
    width: 32px;
    padding-right: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--dark-text-color);
}

.navbar-title {
  font-size: 30px;
  font-weight: bolder;
}

.navbar-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--dark-text-color);
  font-weight: bolder;
  font-size: 20px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.navbar-buttons button:hover {
  text-decoration: underline;
}
.Book-Title-div{
    justify-content: center;
    background-color: var(--secondary-color);
    padding-top: 20px;
    padding-left:50px;
    padding-bottom: 20px;
}

.card-container {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: var(--darkest);
}
.card p {
  margin: 5px 0;
  font-size: 14px;
  color: var(--dark-text-color);
}
.imgCover {
  width: 100%;
  height: fit-content;
  border-radius: 5 px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  max-width: 100%;
  margin: 0 auto;
}

.text {
  flex: 1;
}

.text h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text p {
  line-height: 1.6;
  color: var(--dark-text-color);
}

.button {
  background-color:var(--dark-text-color);
  color: var(--primary-color);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
